<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />


<f:section name="main">
    <f:debug>{_all}</f:debug>
    <h1>Leaflet</h1>
    <f:render partial="Map/Leaflet" arguments="{_all}" />
    <div style="width:{config.width}; height:{config.height};" id="osm_{currentUid}"></div>
    {f:if(condition: config.enable_scrollwheelzoom, then: 'true', else: 'false')}
    <f:asset.script identifier="javascript-escaping-exampe">
        document.addEventListener("DOMContentLoaded", function () <f:format.raw>{</f:format.raw>
        <f:for each="{baseMaps}" as="layer">
            var layer_{layer.uid} = L.tileLayer('https://{layer.tileUrl}', {
                maxZoom: 19,
                <f:if condition="{layer.subdomains}">subdomains: '{layer.subdomains}',</f:if>
                attribution: '{layer.attribution}'
            });
        </f:for>
        <f:for each="{overlayMaps}" as="layer">
            var layer_{layer.uid} = L.tileLayer('https://{layer.tileUrl}', {
                maxZoom: 19,
                <f:if condition="{layer.subdomains}">subdomains: '{layer.subdomains}',</f:if>
                attribution: '{layer.attribution}'
            });
        </f:for>
        osm_{currentUid} = new L.Map('osm_{currentUid}',
        <f:format.raw>{</f:format.raw>
        fullscreenControl: {f:if(condition:config.show_fullscreen,then:'true',else:'false')},
        scrollWheelZoom: {f:if(condition:config.enable_scrollwheelzoom,then:'true',else:'false')},
        dragging: {f:if(condition:config.enable_dragging,then:'true',else:'false')},
        layers: [layer_{baseMaps.0.uid}, <f:for each="{overlaysActive}" as="layer">layer_{layer.uid},</f:for>]
        });

        var baseMaps = {
            <f:for each="{baseMaps}" as="layer">
                "{layer.title}": layer_{layer.uid},
            </f:for>
        };

        var overlayMaps = {
            <f:for each="{overlayMaps}" as="layer">
                "{layer.title}": layer_{layer.uid},
            </f:for>
        };
        <f:if condition="{config.show_layerswitcher} > 0">
        var layerControl = L.control.layers(baseMaps, overlayMaps,<f:format.raw>{</f:format.raw>collapsed:{f:if(condition:'{config.show_layerswitcher} == 1',then:'true',else:'false')}}).addTo(osm_{currentUid});
        </f:if>
        var center = new L.LatLng({config.lat}, {config.lon});

        <f:if condition="{config.show_scalebar}">
        new L.control.scale().addTo(osm_{currentUid});
        </f:if>
        <f:if condition="{config.mouse_position}">
        L.control.mousePosition().addTo(osm_{currentUid});
        </f:if>

        <f:if condition="{config.position}">
        osm_{currentUid}.locate(<f:format.raw>{</f:format.raw>setView: true})
            .on("locationfound",function(e){
                var radius=e.accuracy/2;
                L.circle(e.latlng,radius);
            });
        </f:if>

        osm_{currentUid}.on("locationfound",function(e){var radius=e.accuracy/2;L.circle(e.latlng,radius).addTo(osm_{currentUid})});
        osm_{currentUid}.setView(center, {config.zoom})
        <f:format.raw>}</f:format.raw>, false);

    </f:asset.script>
</f:section>

<f:section name="HeaderAssets">
    <f:asset.css identifier="leaflet" href="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/Core/leaflet.css" />
    <f:asset.script identifier="leaflet" src="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/Core/leaflet.js" priority="1" />
    <f:if condition="{arguments.config.value.show_fullscreen}">
        <f:then>
            <f:asset.css identifier="leaflet-fullscreen" href="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/leaflet-fullscreen/Control.FullScreen.css" />
            <f:asset.script identifier="leaflet-fullscreen" src="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/leaflet-fullscreen/Control.FullScreen.js" priority="1"/>
        </f:then>
    </f:if>
    <f:if condition="{arguments.config.value.mouse_position}">
        <f:then>
            <f:asset.css identifier="leaflet-mouseposition" href="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/leaflet-mouseposition/L.Control.MousePosition.css" />
            <f:asset.script identifier="leaflet-mouseposition" src="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/leaflet-mouseposition/L.Control.MousePosition.js" priority="1"/>
        </f:then>
    </f:if>
    </script>
</f:section>

<f:section name="FooterAssets">
    <f:debug>{_all}</f:debug>
</f:section>

</html>
