<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />


<f:section name="main">
    <f:debug>{_all}</f:debug>
    <h1>Leaflet</h1>
    <f:render partial="Map/Leaflet" arguments="{_all}" />
    <div style="width:100%; height:80vh;" id="osm_{currentUid}"></div>
    {f:if(condition: settings.enable_scrollwheelzoom, then: 'true', else: 'false')}
    <f:asset.script identifier="javascript-escaping-exampe">
        document.addEventListener("DOMContentLoaded", function () <f:format.raw>{</f:format.raw>
        osm_{currentUid} = new L.Map('osm_{currentUid}',
        <f:format.raw>{</f:format.raw>
        fullscreenControl: {f:if(condition:settings.show_fullscreen,then:'true',else:'false')},
        scrollWheelZoom: {f:if(condition:settings.enable_scrollwheelzoom,then:'true',else:'false')},
        dragging: {f:if(condition:settings.enable_dragging,then:'true',else:'false')}
        });
        var layer_1 = new L.TileLayer('https://{layer.0.tileUrl}',
        <f:format.raw>{</f:format.raw>"maxZoom":19, {f:if(condition: layer.0.subdomains,then:'"subdomains":"{layer.0.subdomains}",')}"attribution":'{layer.0.attribution}'<f:format.raw>}</f:format.raw>
        );
        osm_{currentUid}.addLayer(layer_1);
        var baseMaps = {
            "OpenStreetMap": layer_1
        };

        var overlayMaps = [];
        <f:if condition="{settings.show_layerswitcher} > 0">
        var layerControl = L.control.layers(baseMaps, overlayMaps,<f:format.raw>{</f:format.raw>collapsed:{f:if(condition:'{settings.show_layerswitcher} == 1',then:'true',else:'false')}}).addTo(osm_{currentUid});
        </f:if>
        var center = new L.LatLng(51.05568675999999, 13.735343927000002);
        osm_{currentUid}.setView(center, {settings.zoom})
        <f:format.raw>}</f:format.raw>, false);

    </f:asset.script>
</f:section>

<f:section name="HeaderAssets">
    <f:asset.css identifier="leaflet" href="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/Core/leaflet.css" />
    <f:asset.script identifier="leaflet" src="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/Core/leaflet.js" priority="1" />
    <f:if condition="{settings.show_fullscreen}">
    <f:then>
        <f:asset.css identifier="leaflet-fullscreen" href="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/leaflet-fullscreen/Control.FullScreen.css" />
        <f:asset.script identifier="leaflet-fullscreen" src="EXT:ods_osm/Resources/Public/JavaScript/Leaflet/leaflet-fullscreen/Control.FullScreen.js" priority="1"/>
        </f:then>
    </f:if>
    </script>
</f:section>

<f:section name="FooterAssets">
    <f:debug>{_all}</f:debug>
</f:section>

</html>
